<div id="header">
	<h1>Welcome to my node app :)</h1>
	<div id="menu">
		<a href="/">Home</a>
		<a href="/login">Login</a>
		<a href="/create">Create</a>
	</div>
	<div id="display-name"></div>
</div>

