<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Node App</title>
	<link rel='stylesheet' href='/style.css'>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyB0Bv7Xgt8DlqcX5hrY5ZIz8UMrobVR5lc",
			authDomain: "new-node-app-b198a.firebaseapp.com",
			databaseURL: "https://new-node-app-b198a.firebaseio.com",
			projectId: "new-node-app-b198a",
			storageBucket: "new-node-app-b198a.appspot.com",
			messagingSenderId: "1028638213524"
		};
		firebase.initializeApp(config);
	</script>
</head>