#user-info {
	display: none;
}

#profile {
	display: none;
}

.auth #user-info {
	display: block;
}

.auth #profile {
	display: block;
}

.auth #login {
	display: none;
}

#write-post {
	display: none;
}

.auth #write-post {
	display: block;
}



