.create input { 
	border: none; 
	margin: 0.25em 0;
}

.create input, .create button {
	font-size: 1em;
	font-family: inherit;
}

input:focus, button:focus {
	outline: none;	
}

button {
	border-radius: 1em;
}

#create-account {
	display: flex;
	justify-content: space-between;
}

#create-account input, #create-account button {
	
}










