body { font-family: monospace; }
ul { list-style:none;}

.container {
	margin-top:60px;
}

.column, #header {
	margin-bottom: 1.875rem ;
}

a { 
	color: black;
	text-decoration: none;
}
a:hover {
	color:darkblue;
	text-decoration: underline;
}
.project {
	position:relative;
}
.project .label {
	display:none;
	position:absolute;
	top: 1.875rem;
	left: 1.875rem;
	width:100%;
	color:white;
	font-size:2em;
}
.project:hover .label {
	display:inline-block;
}