

#profile-page #main input {
    display: block;   
    
}
#profile-page #add-image input{
    font-size: .6em;
}

#profile-page #main {
    grid-column: 1/ span 1;
    grid-row: 4;
    margin-top: 150px;
}


#add-image {
    grid-column: 2/ span 2;
    width: 100%;
    grid-row: 5;
}

#profile-page #image-file{
    width: 100%;
}

#profile-page #social{
    margin-top: 20px;
}

#profile-page button{
    width: 100%;
}
