/*
:root{
    --main-hue: 400;
     --complement-hue: calc(var(--main-hue) - 200);
        --main-color: hsl(var(--main-hue), 50%, 50%);
            --complement: hsl(var(--complement-hue), 50%, 30%);
                --accent-one: hsl(var(--main-hue), 50%, 50%);
                     --accent-two: hsl(var(--complement-hue), 80%, 80%);
                          --text-color:var(--main-color);
    --link-color:var(--complement);

}
*/
    :root{
    --main-hue:10;
    --main-color: hsl(var(--main-hue), 50%, 50%);
     --text-color: hsl(var(--main-color), 30%, 30%);
     --accent-one-hue: calc(var(--main-hue) + 10);
         --accent-two-hue: calc(var(--main-hue) + 50);
             --accent-one: hsl(var(--accent-one-hue), 60%, 50%);
                 --accent-two: hsl(var(--accent-two-hue), 90%, 90%);
                     --complement: var(--accent-two);
        --special-button-color: white;

}


#write-post{
    background-color: var(--accent-one);
  
    
    margin-top: 30px;
}

#post-text{
    color: var(--accent-two);
/*    background-color:var(--complement);*/
   height: 80px;
    font-size: 1em;
    font-family: var(--display-font);
    margin-top: 20px;
    border: 0.5em solid var(--complement); 
    
}

#publish{

/*    color:var(--text-color);*/
    font-size: 1.5em;
    color: var(--accent-two);
/*    border: 0.5em solid var(--complement);*/
     background-color:var(--complement);
        
}
