#menu {
	grid-column: 1/5;
}

#menu ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem 0;
}

#menu ul li a {
	justify-content: center;
	align-items: center;
	margin-top: .5em;
}

#menu ul li a:hover {
	cursor: pointer;
	transition: 0.6s;
	border: solid 1px var(--accent-three);
	padding: .6rem;
}

#menu img {
	width: 120px;
	margin: 0;
}