/*======================== TYPOG-3

font-family: 'Playfair Display', serif;
font-family: 'Poiret One', cursive;

 ===================================*/

:root {
	--display-font: 'Poiret One', cursive;
	--text-font: 'Playfair Display', serif;
	--link-font: var(--text-font);
}

body {
	font-family: var(--display-font);
}

#menu ul a,
#social ul li {
	font-family: var(--link-font);
	text-transform: uppercase;
}


/* .post {
	display: flex;
	flex-direction: column;
	background-color: var(--link-color)
} */

.post .text {
	font-family: var(--text-font);
	background-color: var(--link-color);
	color: var(--main-text);
	padding: .5em;
	text-align: left;
	margin-bottom: .5em;

}

header {
	font-size: 3vmin;
}

.post .author {
	font-size: 1.5vmax;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: var(--bg-drk);
	margin-bottom: .5em;
	padding: .5em;
	border: none;
}

.post .date {
	font-size: 2.3vmin;
	font-family: var(--text-font);
	background-color: var(--bgDrk);
	color: var(--link-color);
	padding: .5em;
}



#write-post,
#login {
	font-family: var(--text-font);
}