<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Node App</title>
	<link rel='stylesheet' href='/style.css'>
</head>
<body>
	<h1>Welcome to my node app :)</h1>
	<form method="POST">
		<input type="text" name="username" placeholder="Enter you name">
		<button type="submit">Submit</button>
	</form>
</body>
</html>