<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Node App</title>
	<link rel='stylesheet' href='/style.css'>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyB0Bv7Xgt8DlqcX5hrY5ZIz8UMrobVR5lc",
			authDomain: "new-node-app-b198a.firebaseapp.com",
			databaseURL: "https://new-node-app-b198a.firebaseio.com",
			projectId: "new-node-app-b198a",
			storageBucket: "new-node-app-b198a.appspot.com",
			messagingSenderId: "1028638213524"
		};
		firebase.initializeApp(config);
	</script>
</head>
<body>
	<h1>Welcome to my node app :)</h1>
	<a href="/login">Login</a>
	<a href="/create">Create</a>
	<div id="display-name"></div>
	<button onclick={signOut()}>Sign Out</button>
	<script>
		function signOut() {
			firebase.auth().signOut();
			location.reload();
		};

		firebase.auth().onAuthStateChanged(function(user) {
			if (user) {
				console.log('user', user);
				const userName = document.getElementById("display-name");
				userName.textContent = "Welcome, " + user.displayName;
			} else {
				console.log("out")
			}
		});
	</script>
</body>
</html>