@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Pacifico&display=swap');


/* global styles */
@import "css/layout.css";
@import "css/color.css";
@import "css/typography-1.css";

/* page styles */
@import "css/auth.css";
@import "css/menu.css";
@import "css/create.css";
@import "css/profile.css";
@import "css/users.css";

@import "css/publish.css";
@import "css/posts.css";

/* responsive */
@import "css/responsive.css";

img { width: 100%; }
body { margin: 0; }