<% include partials/head.ejs %>
<body>
	<% include partials/header.ejs %>

	<div id="users">
		<h2>Users</h2>
		<% let keys = Object.keys(data); %>
		<% keys.forEach(function(key) { %>
			<% let user = data[key]; %>
			<div class="user">
				<a href="/user/<%= key %>"><%= user.name %></a>
			</div>
			
		<% }); %> 
	</div>
	
	<% include partials/footer.ejs %>
</body>
</html>
