/*set up main grid*/
.main-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
}

button {
    width: 100px;
    height: 3em;
    border-radius: 50px;
}

.button1 {
    display: block;
    width: 100%;
}

body {
    margin: 0 auto;
}

div.header {
    /* position in main grid */
    grid-column: 1 / span 4;
    grid-row: 1;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;

    /* set up inner grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
}

h1.logo {

    grid-column: 1 / span 4;
    text-align: center;
    grid-row: 1;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.buttons {
    grid-column: 4;
    grid-row: 1;
    margin: 20% 0 0 40%;
    height: 3em;
}

.buttons button {
    display: inline-block;
    margin-right: 10px;
    float: left;
    width: 100px;
    margin-bottom: 8px;
}

#user-info {
    display: none;
    grid-area: login;
}

#profile-nav,
#profile-link {
    display: none;
}

.logged-in #user-info,
.logged-in #profile-nav,
.logged-in #profile-link {
    display: block;
}

.logged-in #profile-nav {
    margin: 0;
}

.logged-in #signup,
.logged-in #login {
    display: none;
}

.photo {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;
}

li.signup {
    padding: 0;
}

nav {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: 0 auto;
    width: 90%;
}

nav ul {
    padding-top: 1em;
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

nav li {
    float: left;
    list-style-type: none;
    width: 23%
}

nav.wide {
    display: block;
}

nav.mobile {
    display: none;
}

.logged-in nav li {
    width: 18%;
}

.subhead {
    padding: 1.5em;
    margin: 0 auto;
    padding: 0;
}

h2.subhead {
    grid-column: 1 / span 4;
    grid-row: 2;
}

h2.subtitle {
    grid-column: 1 / span 4;
    grid-row: 4;
    margin: 10px auto;
}

h3.subhead {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-bottom: 25px;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, max-content);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    text-align: center;
    padding: 30px 0 30px 0;
    margin-top: 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer input {
    width: 35%;
    margin: 0 auto;
}

#social-links1 {
    grid-column: 1 / span 3;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer .fab {
    width: 15%;
    font-size: 30px;
}

footer .fab:hover {
    color: white;
}

footer .small-links {
    grid-column: 1 / span 3;
    grid-row: 4;
    font-size: .7em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, max-content);
}

/*responsive styles*/

/* mobile devices */
@media only screen and (min-width: 120px) and (max-width: 375px) {

    nav.wide {
        display: none;
    }

    nav.mobile {
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }

    nav a:hover {
        color: white !important;
    }

    nav ul {
        padding: 0;
    }

    h1.logo {
        font-size: 30px !important;
        letter-spacing: 2px !important;
        margin-bottom: 0;
        height: auto;
    }

    .buttons {
        grid-column: 1 / span 4;
        margin: 14% auto 0 auto;
        height: auto;
    }

    .buttons button {
        width: 90px;
        height: 30px;
    }

    footer {
        grid-template-rows: repeat(2, max-content);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        font-size: 13px;
        padding: 0 0 10px 0;
        /*        height: 80px;*/
    }

    footer a {
        margin-top: auto;
        margin-bottom: auto;
    }

    footer a:hover {
        text-decoration: underline;
    }

    .pag {
        display: none;
    }

    #social-links1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        width: 90%;
        margin: 15px auto 10px auto;
        height: 35px;
    }

    footer .fab {
        width: 15%;
        font-size: 30px;
    }

    .small-links {
        grid-row: 2;
    }
}

@media only screen and (min-width: 375px) and (max-width: 416px) {
    nav.wide {
        display: none;
    }

    nav.mobile {
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }

    nav a:hover {
        color: white !important;
    }

    nav ul {
        padding: 0;
    }

    h1.logo {
        font-size: 30px !important;
        letter-spacing: 2px !important;
        margin-bottom: 0;
        height: auto;
    }

    .buttons {
        grid-column: 1 / span 4;
        margin: 12% auto 0 auto;
        height: auto;
    }

    .buttons button {
        width: 90px;
        height: 30px;
    }

    footer {
        grid-template-rows: repeat(2, max-content);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        font-size: 13px;
        padding: 0 0 10px 0;
        /*        height: 80px;*/
    }

    footer a {
        margin-top: auto;
        margin-bottom: auto;
    }

    footer a:hover {
        text-decoration: underline;
    }

    .pag {
        display: none;
    }

    #social-links1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        width: 90%;
        margin: 15px auto 10px auto;
        height: 35px;
    }

    footer .fab {
        width: 15%;
        font-size: 30px;
    }

    .small-links {
        grid-row: 2;
    }
}

@media only screen and (min-width: 416px) and (max-width: 510px) {
    nav.wide {
        display: none;
    }

    nav.mobile {
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }

    nav a:hover {
        color: white !important;
    }

    nav ul {
        padding: 0;
    }

    h1.logo {
        font-size: 30px !important;
        letter-spacing: 2px !important;
        margin-bottom: 0;
        height: auto;
    }

    .buttons {
        grid-column: 1 / span 4;
        margin: 12% auto 0 auto;
        height: auto;
    }

    .buttons button {
        width: 90px;
        height: 30px;
    }

    footer {
        grid-template-rows: repeat(2, max-content);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        font-size: 13px;
        padding: 0 0 10px 0;
    }

    footer a {
        margin-top: auto;
        margin-bottom: auto;
    }

    footer a:hover {
        text-decoration: underline;
    }

    .pag {
        display: none;
    }

    #social-links1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        width: 90%;
        margin: 15px auto 10px auto;
        height: 35px;
    }

    footer .fab {
        width: 15%;
        font-size: 30px;
    }

    .small-links {
        grid-row: 2;
    }
}

@media only screen and (min-width: 510px) and (max-width: 710px) {
    nav.wide {
        display: none;
    }

    nav.mobile {
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }

    nav a:hover {
        color: white !important;
    }

    nav ul {
        padding: 0;
    }

    h1.logo {
        grid-column: 1 / span 4;
        font-size: 2.6rem !important;
        letter-spacing: 2px !important;
        margin-bottom: 0;
        height: auto;
        width: 60%;
    }

    .buttons {
        grid-column: 2/ span 2;
        grid-row: 1;
        margin: 20% auto 0%;
        height: auto;
    }

    .buttons button {
        width: 90px;
        height: 30px;
    }

    footer {
        grid-template-rows: repeat(2, max-content);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        font-size: 13px;
        padding: 0 0 10px 0;
    }

    footer a {
        margin-top: auto;
        margin-bottom: auto;
    }

    footer a:hover {
        text-decoration: underline;
    }

    .pag {
        display: none;
    }

    #social-links1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        width: 90%;
        margin: 15px auto 10px auto;
        height: 35px;
    }

    footer .fab {
        width: 15%;
        font-size: 30px;
    }

    .small-links {
        grid-row: 2;
    }
}

/*tablet*/

@media only screen and (min-width: 710px) and (max-width: 975px) {
    nav.wide {
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }

    nav.mobile {
        display: none;
    }

    nav a:hover {
        color: white !important;
    }

    nav ul {
        padding: 0;
    }

    h1.logo {
        font-size: 5rem !important;
        letter-spacing: 2px !important;
        margin: auto height: auto;
    }

    .buttons {
        grid-column: 4;
        margin: 7.5% auto 0 80px;
        height: auto;
    }

    .buttons button {
        width: 90px;
        height: 40px;
    }

    footer {
        grid-template-rows: repeat(2, max-content);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        font-size: 13px;
        padding: 0 0 10px 0;
    }

    footer a {
        margin-top: auto;
        margin-bottom: auto;
    }

    footer a:hover {
        text-decoration: underline;
    }

    .pag {
        display: none;
    }

    #social-links1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        width: 90%;
        margin: 15px auto 10px auto;
        height: 35px;
    }

    footer .fab {
        width: 15%;
        font-size: 30px;
    }

    .small-links {
        grid-row: 2;
    }
}

@media only screen and (min-width: 975px) and (max-width: 1320px) {
    nav.wide {
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }

    nav.mobile {
        display: none;
    }

    nav a:hover {
        color: white !important;
    }

    nav ul {
        padding: 0;
    }

    h1.logo {
        font-size: 5.5rem !important;
        letter-spacing: 2px !important;
        margin-bottom: 0;
        height: auto;
    }

    .buttons {
        grid-column: 4;
        margin: 7.5% auto 0 60px;
        height: auto;
    }

    .buttons button {
        width: 100px;
        height: 40px;
    }

    footer {
        grid-template-rows: repeat(2, max-content);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        font-size: 13px;
        padding: 0 0 10px 0;
    }

    footer a {
        margin-top: auto;
        margin-bottom: auto;
    }

    footer a:hover {
        text-decoration: underline;
    }

    .pag {
        display: none;
    }

    #social-links1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        width: 90%;
        margin: 15px auto 10px auto;
        height: 35px;
    }

    footer .fab {
        width: 15%;
        font-size: 30px;
    }

    .small-links {
        grid-row: 2;
    }
}
