:root {
    --display-font: 'Chelsea Market', cursive;
    --header-font: 'Gaegu', cursive;
    --body-font: 'Poppins', sans-serif;
}

body {
    font-family: var(--body-font);
    font-weight: 300;
}

h1.logo {
    font-family: var(--display-font);
    font-size: 6em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 10px;
}

nav {
    text-align: center;
}

nav li {
    font-family: var(--display-font);
    letter-spacing: 1px;
    list-style-type: none;
    text-align: center;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

button {
    font-family: var(--display-font);
    letter-spacing: .5px;
}

.subhead {
    text-align: center;
    font-family: var(--header-font);
    font-size: 2em;
}

#profile-detail ul {
    list-style-type: none;
}

h2.subhead {
    font-size: 1.8em;
}

.subtitle {
    text-align: center;
    font-family: var(--header-font);
    font-size: 2em;
}

p.mission {
    text-align: center;
}

h3.subhead {
    font-size: 1.8em;
    font-family: var(--header-font);
    font-weight: 200;
    text-align: left;
}

h4.stat {
    font-size: 2em;
}

footer a {
    text-decoration: none;
}
