<% include partials/head.ejs %>
<body>
	<% include partials/header.ejs %>

	<form method="GET" action="/post">
		<input type="hidden" name="uid" id="userInput">
		<input type="submit" value="Write a new post">
	</form>

	<% var j = JSON.stringify(data); %>
	
	<div>
		<% var keys = Object.keys(data); %>
		<% keys.forEach(function(key) { %>
			<% var postKeys =  Object.keys(data[key].posts) %>
			<% postKeys.forEach(function(postKey) { %>
				<p><%= data[key].posts[postKey].text %></p>
				<p><%= data[key].posts[postKey].date %></p>
			<% }); %>
		<% }); %>
	</div>


	<button onclick={signOut()}>Sign Out</button>
	<script>
		function signOut() {
			firebase.auth().signOut();
			location.reload();
		};

		firebase.auth().onAuthStateChanged(function(user) {
			if (user) {
				console.log('user', user);
				const userInput = document.getElementById("userInput");
				userInput.value = user.uid;
				const userName = document.getElementById("display-name");
				userName.textContent = "Welcome, " + user.displayName;
			} else {
				console.log("out")
			}
		});
	</script>
</body>
</html>

<!-- 
https://firebase.google.com/docs/database/web/lists-of-data#reading_and_writing_lists
 -->