/*
	complementary color scheme (blue and orange)
	main #1786FF
	blue accents #3094FF #085AB3
	orange accents #B37100 #FFAA17
*/

:root {
	--main-color: #1786FF;
	--complement: #FFAA17;
	--accent-one: #3094FF;
	--accent-two: #085AB3;
}
	
/* 
	color scheme 2
	monochromatic purple
*/
	
:root {
	--main-color: #B515FF;
	--complement: #CD61FF;
	--accent-one: #5A0A80;
	--accent-two: #9110CC;
		
	--text-color: var(--accent-two); /* black */
}
	
/*
	triadic color scheme
	hue 240  - blue
*/
	
:root {
	--main-hue: 140; 
	
	--main-color: hsl(var(--main-hue), 50%, 50%);
	--text-color: var(--main-color);
		
	--accent-one-hue: calc(var(--main-hue) - 120);
	--accent-two-hue: calc(var(--main-hue) + 120);
	
	--accent-one: hsl(var(--accent-one-hue), 50%, 50%);
	--accent-two: hsl(var(--accent-two-hue), 50%, 50%);
		
	--complement: var(--accent-two);
}
	
/* analogous color scheme */
:root {
	--main-hue: 240;
	--offset: 30;

	--main-color: hsl(var(--main-hue), 50%, 50%);
		
	--accent-one-hue: calc(var(--main-hue) - var(--offset));
	--accent-two-hue: calc(var(--main-hue) + var(--offset));
	--accent-one: hsl(var(--accent-one-hue), 50%, 50%);
	--accent-two: hsl(var(--accent-two-hue), 50%, 50%);
	
	--complement: var(--accent-two);
	--button-dark: hsl(var(--accent-one-hue), 60%, 25%);
	
	--link-color: var(--main-color);
}
	
/* complementary */
:root {
	--main-hue: 240;
	--complement-hue: calc(var(--main-hue) - 180);
	
	--main-color: hsl(var(--main-hue), 50%, 50%);
	--complement: hsl(var(--complement-hue), 50%, 50%);
	--accent-one: hsl(var(--main-hue), 40%, 60%);
	--accent-two: hsl(var(--complement-hue), 40%, 60%);
		
	--text-color: var(--main-color);
	--link-color: var(--complement);
}
	
/* monochromatic */
:root {
	--main-hue: 240;
	--saturation: 25;
	--lightness: 70;
	
	--main-color: hsl(var(--main-hue), 50%, 50%);
		
	--sat-percent: calc(var(--saturation) * 1%);
	--accent-one: hsl(var(--main-hue), var(--sat-percent), 50%);
		
	--lit-percent: calc(var(--lightness) * 1%);
	--accent-two: hsl(var(--main-hue), 50%, var(--lit-percent));
		
	--complement: var(--accent-one);
	--text-color: var(--main-color);
	--link-color: var(--accent-one);
}

	
* {
	color: var(--text-color);
}

#title h1 {
	color: var(--main-color);
}

#menu, #login {
	background-color: var(--accent-one);
}

button {
	background-color: var(--complement);
}

a {
	color: var(--link-color);
}

#social {
	background-color: var(--complement);
}