<% include partials/head.ejs %>
<body>
	<h1>Welcome to my app :)</h1>
	
	<div id="create">
		<input type="text" id="nameInput" placeholder="Enter user name">
		<input type="text" id="emailInput" placeholder="Enter user email">
		<input type="password" id="passwordInput" placeholder="Enter user password">
		<button onclick={createUser()}>Submit</button>
		<p id="errorMessage"></p>
	</div>
	
	<script>
		function createUser() {
			firebase.auth().createUserWithEmailAndPassword(emailInput.value, passwordInput.value)
				.then(function(user) {
					console.log(user);
					user.updateProfile({
						displayName: nameInput.value
					}).then(function(user) {
						console.log('update', user);
						location.href = "/";
					}, function(error) {
						console.log('error', error);
					});
					
				})
				.catch(function(error) {
					console.log(error);
					const errorMessage = document.getElementById("errorMessage");
					errorMessage.textContent = error.message;
				});
		}
	</script>
</body>
</html>







