<!doctype html>
<html>
<head>
	<title>New Node App</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<h1>Welcome to my app :)</h1>
	<p>Hello world.</p>
	<form method="POST">
		<input name="username" type="text" placeholder="Enter user name">
		<button type="submit">Login</button>
	</form>
</body>
</html>