<!doctype html>
<html>
<head>
	<title>New Node App</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/style.css">
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
    	apiKey: "AIzaSyB0Bv7Xgt8DlqcX5hrY5ZIz8UMrobVR5lc",
    	authDomain: "new-node-app-b198a.firebaseapp.com",
    	databaseURL: "https://new-node-app-b198a.firebaseio.com",
    	projectId: "new-node-app-b198a",
    	storageBucket: "new-node-app-b198a.appspot.com",
    	messagingSenderId: "1028638213524"
  		};
	  firebase.initializeApp(config);
	</script>
</head>
<body>
	<h1>Welcome to my app :)</h1>
	<p id="display-name">Hello world.</p>
	
	<a href="/login">Log in</a>
	<a href="/create">Create new user</a>
	
	<form method="GET" action="/post">
		<input type="hidden" name="uid" id="userInput">
		<input type="submit" value="Write a new post">
	</form>
	
	<button onclick={signOut()}>Sign out</button>
	
	<script>
		const userName = document.getElementById("display-name");
		firebase.auth().onAuthStateChanged(function(user) {
			if (user) {
				console.log(user.uid);
				userName.textContent = "Hello, " + user.displayName;
				const userInput = document.getElementById('userInput');
				userInput.value = user.uid;
			} else {
				console.log("no user");
			}
		});
		
		function signOut() {
			firebase.auth().signOut();
			location.reload();
		}
	</script>
</body>
</html>







