<% include partials/head.ejs %>
<body>
	<% include partials/header.ejs %>
	
	<!-- add profile image -->
	<p>Add a profile image:</p>
	<input type="file" id="profile_img_file" accept="image/gif, image/jpeg, image/png">
	<button id="submit">Submit Image</button>
	
	<script>
		document.getElementById("submit").onclick = function() {
			const user = firebase.auth().currentUser;
			const file = document.getElementById('profile_img_file').files[0];
			const storage = firebase.storage();
			const ref = storage.ref('/users/' + user.uid);
			ref.child('profile_img').put(file)
				.then(function(file){
					const url = file.downloadURL;
					const db = firebase.database();
					const dbRef = db.ref('/users/' + user.uid + '/profile_img_url');
					dbRef.set(url)
						.then(function(success) {
							user.updateProfile({ photoURL: url })
								.then(function(success) {
									location.reload();
								})
								.catch(function(error) {
									console.log(error);
								});
						})
						.catch(function(error) {
							console.log(error);
						});
				})
				.catch(function(error){
					console.log(error);
				});
		};
	
	</script>
	
	<% include partials/footer.ejs %>
</body>
</html>