<% include partials/head.ejs %>
<body>
	<% include partials/header.ejs %>
	
	<!-- display our users -->
	<div id="users">
		<h2>Users</h2>
		<!-- <%= JSON.stringify(data); %> -->
		<% let keys = Object.keys(data); %>
		<% keys.forEach(function(key) { %>
			<% const user = data[key]; %>
			<div class="user">
				<a href="/user/<%= key %>">
					<%= user.name %>
				</a>
			</div>
		<% }); %>
	</div>
	
	<% include partials/footer.ejs %>
</body>
</html>